@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap");

/******************* GLOBAL ********************************/
:root {
  --accent-clr: #fb7600;
  --accent-glow-clr: #ff9c19;
  --accent-glow-lighter-clr: #fde681;
  --dark-clr: #20201e;
  --darker-clr: #0e0e0e;
  --gray-clr: #3f3f3d;
  --light-gray-clr: #545454;
  --lighter-clr: whitesmoke;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  margin: 5rem;
  font-weight: 500;
  background-color: var(--darker-clr);
  color: var(--lighter-clr);
}

button {
  padding: 0.5rem;
  cursor: pointer;
  color: var(--lighter-clr);
}

i {
  display: flex;
  font-size: 1.5rem;
  align-self: center;
}

header,
footer {
  padding: 1rem;
}

/**************************** HEADER ***********************************/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5rem;
  background-color: var(--gray-clr);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 3rem;
  color: var(--accent-clr);
  font-size: 1.5rem;
}

.randomize-section button {
  appearance: none;
  border: none;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  gap: 1rem;
  background-color: var(--accent-clr);
  color: var(--lighter-clr);
  font-size: 1.5rem;
  margin: 1rem 0.5rem;
}

.randomize-section button:hover {
  box-shadow: var(--accent-glow-lighter-clr) 0px 10px 30px -12px inset,
    var(--accent-glow-clr) 0px 9px 18px -9px inset;
}

.randomize-section button:active {
  box-shadow: var(--accent-glow-lighter-clr) 0px 60px 80px -30px inset,
    var(--accent-glow-clr) 0px 18px 36px -18px inset;
  transform: translateY(-0.5rem);
  transition: 0.3s;
}

/****************************** MAIN *************************************/

main {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  gap: 0.3rem;
  background-color: var(--dark-clr);
}

/***************************** CATEGORIES ********************************/

.categories-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--gray-clr);
  padding: 0.5rem 0.5rem;
  margin: 0.3rem 0;
  gap: 1rem;
}

.categories,
.theme {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 100%;
  height: 100%;
}

.categories h3,
.theme h3 {
  align-self: center;
  margin-bottom: 0.5rem;
}

.categories button,
.theme button {
  appearance: none;
  border: 1px solid var(--dark-clr);
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.3rem;
}

.categories button:hover,
.theme button:hover {
  box-shadow: var(--dark-clr) 0px 10px 30px -12px inset,
    var(--darker-clr) 0px 9px 18px -9px inset;
}

.categories button:active,
.theme button:active {
  box-shadow: var(--dark-clr) 0px 60px 80px -30px inset,
    var(--darker-clr) 0px 18px 36px -18px inset;
  margin: 0 1rem;
  transition: 0.3s;
}

/*********************************** DESCRIPTIONS **************************************/

.descriptions-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--dark-clr);
  margin: 0.3rem 0;
  font-size: 1.3rem;
}

.descriptions-section p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/************************************ CHARACTER OPTIONS ********************************/
.character-options-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--gray-clr);
  padding: 0.5rem 0.5rem;
  margin: 0.3rem 0;
}

/*********************************** FOOTER ********************************************/

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--gray-clr);
  padding: 1rem 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

footer .generating {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

footer .sites {
  display: flex;
  gap: 3rem;
  margin-right: 1rem;
}

/************************ VFX & HELPER CLASSES ************************************/

.light {
  background-color: var(--light-gray-clr);
}

.dark {
  background-color: var(--gray-clr);
}

.hidden {
  display: none;
}

.no-opacity {
  opacity: 0%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-0.1rem);
  }
  40% {
    transform: translateY(0rem);
  }
  60% {
    transform: translateY(0.1rem);
  }
  100% {
    transform: translateY(0);
  }
}

.rotate {
  animation: rotate 1.5s linear infinite;
}

.bounce {
  animation: bounce 3s ease-in infinite;
}
