@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap");

:root {
  --accent-clr: #fb7600;
  --dark-clr: #20201e;
  --darker-clr: #0e0e0e;
  --gray-clr: #3f3f3d;
  --light-gray-clr: #545454;
  --lighter-clr: whitesmoke;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  margin: 5rem;
  font-weight: 500;
  background-color: var(--dark-clr);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--darker-clr);
  color: var(--lighter-clr);
  padding: 5rem;
}

header .logo-section {
  display: flex;
  gap: 1rem;
}

.main-section {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

i {
  display: flex;
  font-size: 2.5rem;
  align-self: center;
}

button {
  padding: 0.5rem;
  cursor: pointer;
  color: var(--lighter-clr);
}

.load-save-section button {
  background: none;
  appearance: none;
  border: none;
}

.randomize-btn {
  display: flex;
  align-items: center;
  appearance: none;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  gap: 1rem;
  background-color: var(--accent-clr);
  color: var(--lighter-clr);
  font-size: 1.5rem;
}

.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10rem;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5rem;
  max-width: 100%;
  font-size: 1rem;
  font-weight: 500;
}

footer .generating {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
